li{
    list-style: none;
}

#footer {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100px;          
    width: 100vw;             
    border-top: 1px solid #DEDEDE;
}


#footer p {
	text-align: center;
	font-size: 12px;
}