html{
    display: flex;
}

/* cho tao xin 100k */

#header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: #2da06e; 
    padding: 20px 0;
}

#menu{
    margin-left: 680px;
    font-weight: normal;
}

#menu ul {
    float: right;
    display: flex; 
    list-style: none; 
    padding: 0;
    margin: 0;
}

#menu ul li {
    padding: 10px 35px;
    margin: 0 5px;
}

#menu ul li a {
    font-size: 13px;
    text-decoration: none; 
    color: black; 
    font-weight: bold;
}
.current_page{
    background-color: #2AA7D1;
    display: flex;
    border-radius: 5px;
}

.current_page a{
    color: white !important;
}

#page{
    display: flex;
}

#content {
    float: left;
}


li{
    list-style: none;
}


#sidebar{
    float: right;
    width: 300px;
    margin-right:150px;
    margin-left: 50px;
    /* padding-right: 10px; */
}

#sidebar ul.style1{
    padding-left: 0px;
}

#sidebar ul.style1 li {
    margin-top: 20px;
    border-bottom:1px solid rgb(214, 209, 160) ;
    display: flex;
    align-items: center; 
    gap: 10px; 
}


#sidebar p{
    text-align: justify;
    font-size: 14px;
}

#sidebar p a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.more{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    margin: 0;
    background-color: black;
}

#footer {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100px;          
    width: 100vw;             
    border-top: 1px solid #DEDEDE;
}


#footer p {
	text-align: center;
	font-size: 12px;
}

