html{
    display: flex;
}


li{
    list-style: none;
}

#conten{
    float: left;
    width: 500px;;
}

#sidebar{
    float: right;
    width: 300px;
}

#footer {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100px;          
    width: 100vw;             
    border-top: 1px solid #DEDEDE;
}


#footer p {
	text-align: center;
	font-size: 12px;
}